.blank-div {
  border: 1px solid var(--quiz-black-color);
  margin: 1rem;
}
.sm-result-status {
  text-align: center;
  padding-top: 1rem;
}
.sm-back-btn {
  cursor: pointer;
  border-radius: 10px;
  padding: 1rem 2rem;
  margin-left: auto;
  background-color: var(--quiz-gray-color);
  color: var(--quiz-white-color);
  display: flex;
}

.sm-back-btn:hover {
  background-color: var(--quiz-white-color);
  color: var(--quiz-gray-color);
}
.link-style {
  text-decoration: none;
}
