.sm-rule-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem;
}
.sm-rules-heading {
  font-weight: bold;
}
.unorderd-list li {
  padding: 1rem;
}

@media only screen and (max-width: 800px) {
  .sm-rule-content {
    padding: 2.7rem;
  }
}
