.sm-main-wrapper {
  padding: 2rem;
}

.sm-rule-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sm-rules-heading {
  font-weight: bold;
}
.unorderd-list li {
  padding: 1rem;
}
