@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
html,
:root {
  --quiz-primary-color: #7c3aed;
  --quiz-background-color: #e2e2cb;
  --quiz-heading-color: #0000ff;
  --quiz-main-background-color: #f8f6f6;
  --quiz-white-color: #ffffff;
  --quiz-black-color: #000000;
  --quiz-gray-color: #808080;
  --quiz-logo-color: #8a2be2;
}

body {
  font-family: "Roboto", sans-serif;
}

.sm-quiz {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sm-categories {
  padding: 2rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}
.sm-card-img img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sm-categ-card {
  background-color: var(--quiz-black-color);
  border-radius: 10px;
}
.sm-card-details {
  color: var(--quiz-white-color);
  padding: 1rem 1rem 0 1rem;
}

.sm-card-button button {
  color: var(--quiz-black-color);
  background-color: var(--quiz-background-color);
  margin: 1rem 0 0 0;
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.sm-card-button button:hover {
  background-color: var(--quiz-gray-color);
}

@media only screen and (max-width: 800px) {
  .sm-categ-card,
  .sm-card-img img {
    max-width: 200px;
  }
  .sm-categories {
    padding: 2rem;
  }
}
