.v-footer {
  background-color: var(--quiz-gray-color);
  color: var(--quiz-white-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 0;
}

.ha-footer-icons {
  display: flex;

  padding: 0.5rem 1rem;
}

.social-icon i {
  font-size: x-large;
  color: var(--quiz-white-color);
}
