.sm-login-window {
  max-width: 400px;
  border: 1px solid var(--quiz-black-color);
  border-radius: 5px;
  margin: 2.22rem auto;
}
.sm-login-container {
  padding: 1rem;
}
.sm-login-container h2 {
  text-align: center;
}
.sm-input-text {
  display: flex;
  flex-direction: column;
  padding: 0.5rem 0;
}
.sm-input-text label {
  text-align: left;
  padding: 0;
}
.sm-input-text input {
  padding: 1rem;
}
.login-check {
  display: flex;
  gap: 1rem;
}
.login-check div:last-child {
  margin-left: auto;
}
.btn-primary {
  margin: 1rem 0 0.5rem 0;
  width: 100%;
  background-color: var(--quiz-gray-color);
}
.btn-primary:hover {
  background-color: rgb(58, 52, 52);
}
.outline-primary {
  margin: 0;
  width: 100%;
  color: var(--quiz-gray-color) !important;
  border-color: var(--quiz-gray-color) !important;
}
.outline-primary:hover {
  background-color: rgb(46, 43, 43) !important;
  color: var(--quiz-white-color) !important;
}
.login-bottom-text {
  text-align: center;
  padding: 1rem;
}

.disabled-btn {
  cursor: not-allowed;
  opacity: 0.6;
}

@media only screen and (max-width: 800px) {
  .sm-login-window {
    margin: 1rem;
  }
  .sm-input-text label {
    width: 100%;
  }
  .sm-login-main {
    margin: 2rem 0 3rem 0;
  }
}
